# Logs and temp files
*.log
*.tmp
*.bak
*.swp
*~

# Caches
*Cache*
*cache*
.cache/

# System and OS files
.DS_Store
Thumbs.db
.initial_startup_done

# Package and build artifacts
yay/
pkg/
src/
*.pkg.tar.*

# Video files (too large for git)
*.mp4
*.mkv
*.webm
# Compiled binaries
.config/hypr/scripts/donut
