// Config //
configuration {
    modi:                        "drun,filebrowser,window,run";
    show-icons:                  false;
    display-drun:                "APPS";
    display-run:                 "RUN";
    display-filebrowser:         "FILES";
    display-window:              "WINDOWS";
    drun-display-format:         "{name}";
    window-format:               "{w}{t}";
    font:                        "JetBrainsMono Nerd Font Propo 11";
}

* {
    main-bg:            #ffffff;
    main-fg:            #000000;
    main-br:            rgba(0, 0, 0, 0.15);
    select-bg:          #000000;
    select-fg:          #ffffff;
    dim-fg:             rgba(0, 0, 0, 0.4);
    input-bg:           #f5f5f5;
}

// Main //
window {
    height:                      32em;
    width:                       42em;
    transparency:                "real";
    fullscreen:                  false;
    enabled:                     true;
    cursor:                      "default";
    spacing:                     0em;
    padding:                     0em;
    border:                      1px;
    border-color:                @main-br;
    border-radius:               0px;
    background-color:            @main-bg;
}

mainbox {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0em;
    orientation:                 vertical;
    children:                    [ "inputbar" , "listbox" ];
    background-color:            transparent;
}

// Inputs //
inputbar {
    enabled:                     true;
    spacing:                     10px;
    padding:                     1.2em 1.2em 0.8em 1.2em;
    children:                    [ "entry" ];
    background-color:            @main-bg;
}

entry {
    border-radius:               0px;
    border:                      1px;
    border-color:                @main-br;
    enabled:                     true;
    spacing:                     0em;
    padding:                     0.7em 1em;
    text-color:                  @main-fg;
    background-color:            @input-bg;
    placeholder:                 "type to search...";
    placeholder-color:           @dim-fg;
    cursor:                      text;
}

// Lists //
listbox {
    padding:                     0.5em 1.2em 1.2em 1.2em;
    spacing:                     0em;
    orientation:                 horizontal;
    children:                    [ "listview" ];
    background-color:            @main-bg;
}

listview {
    padding:                     0em;
    spacing:                     2px;
    enabled:                     true;
    columns:                     1;
    lines:                       9;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @main-fg;
}

// Elements //
element {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0.2em 0.5em;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @main-fg;
    border-radius:               0px;
}

element selected.normal {
    background-color:            @select-bg;
    text-color:                  @select-fg;
    border-radius:               0px;
}

element-text {
    vertical-align:              0.5;
    horizontal-align:            0.0;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
    padding:                     0.5em;
}
